*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: FuturaPT;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Max WIdth  */

/* Max WIdth  */

/* Adaptive */

/* Adaptive */

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__container._active {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.header__body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 172px;
  max-width: 1156px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social a {
  padding: 0px 20px 0px 0px;
}

.soc-icon {
  width: 30px;
  height: 30px;
}

.soc-icon path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #fff;
}

.soc-icon path:hover,
.soc-icon path:active,
.soc-icon path:focus {
  fill: rgba(255, 255, 255, 0.5);
}

.header__container._active .soc-icon path {
  fill: black;
}

.header__container._active .soc-icon path:hover,
.header__container._active .soc-icon path:active,
.header__container._active .soc-icon path:focus {
  fill: rgba(0, 0, 0, 0.5);
}

.lang {
  color: #fff;
}

.lang__ua {
  line-height: 30.77px;
  color: #fff;
}

.lang__ru {
  line-height: 30.77px;
  color: #fff;
}

.lang__en {
  line-height: 30.77px;
  color: #fff;
}

.lang__en,
.lang__ru,
.lang__ua {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lang__en:hover,
.lang__en:active,
.lang__en:focus,
.lang__ru:hover,
.lang__ru:active,
.lang__ru:focus,
.lang__ua:hover,
.lang__ua:active,
.lang__ua:focus {
  color: rgba(255, 255, 255, 0.5);
}

.header__container._active .lang {
  color: #000;
}

.header__container._active .lang__ua,
.header__container._active .lang__ru,
.header__container._active .lang__en {
  color: #000;
}

.header__container._active .lang__ua:hover,
.header__container._active .lang__ua:active,
.header__container._active .lang__ua:focus,
.header__container._active .lang__ru:hover,
.header__container._active .lang__ru:active,
.header__container._active .lang__ru:focus,
.header__container._active .lang__en:hover,
.header__container._active .lang__en:active,
.header__container._active .lang__en:focus {
  color: rgba(0, 0, 0, 0.5);
}

.header__container._active .header__body {
  min-height: 70px;
}

no-webp .main-page {
  background: url("../img/hero-bg.png") no-repeat center; }

.main-page {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #222;
  background-size: cover;
  padding: 172px 10px 0px 10px;
}

.main-page__container {
  max-width: 1139px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page__title {
  margin: 85px 0px 248px 0px;
  color: #fff;
  max-width: 659px;
  text-align: center;
}

.main-page__title h1 {
  font-weight: 700;
}

.main-page__title p {
  font-weight: 400;
}

.main-page__arrow {
  position: relative;
  left: -15px;
  cursor: pointer;
  margin: 0px 0px 48px 0px;
}

.main-page__arrow a {
  position: relative;
}

.main-page__arrow a::before {
  content: "";
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  position: absolute;
  border-left: solid 1px #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-page__arrow a::after {
  content: "";
  top: 0;
  left: 0;
  width: 34px;
  position: absolute;
  height: 34px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: solid 1px #fff;
}

.sect-title {
  width: 100%;
  background-color: #131313;
}

.sect-title__container {
  max-width: 1156px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23.5px 20px;
}

.sect-title p {
  color: #fff;
}

.sect-title__title {
  color: #fff;
  text-transform: uppercase;
}

.about {
  background-color: #222;
}

.about__container {
  max-width: 1156px;
  margin: 0 auto;
  padding: 0px 20px;
}

.content-about {
  margin: 116px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-about__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 30px 0px;
}

.content-about__info {
  max-width: 585px;
  color: #fff;
  line-height: 31px;
  margin: 0px 0px 116px 0px;
}

.content-about__info span {
  font-weight: 700;
}

.navbar {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  position: relative;
  top: -80px;
}

.navbar__link {
  color: #C9C9C9;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.navbar__link:hover {
  color: #FFF;
  font-weight: 500;
}

.navbar__link:hover::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 16px;
  border: solid 1px white;
  width: 44px;
}

._active-link {
  font-weight: 700;
  color: #FFF;
  position: relative;
}

._active-link::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 16px;
  border: solid 1px white;
  width: 44px;
}

.portfolio {
  background-color: #222;
}

.portfolio__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__see {
  margin: 48px 0px 37px 0px;
  cursor: pointer;
  padding: 18px 118px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #131313;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn__see:hover,
.btn__see:active,
.btn__see:focus {
  background-color: #fff;
  color: black;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.images img {
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.images img:hover,
.images img:active,
.images img:focus {
  -webkit-filter: blur(0);
          filter: blur(0);
  z-index: 10;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.services {
  background-color: #222;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1156px;
  padding: 176px 20px 126px 20px;
  margin: 0 auto;
}

.services__spoilers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spoiler__btn {
  border: solid 3px #131313;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 90px;
  letter-spacing: 0.155em;
  font-weight: 700;
  position: relative;
}

.spoiler__btn::before {
  content: "";
}

.spoiler__btn:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.spoiler__list {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 0;
  position: relative;
  left: 0px;
  top: -50px;
  margin: 0px 0px 0px 100px;
  padding: 0px 70px 0px 70px;
  background-color: #131313;
}

.spoiler__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0px;
  border-bottom: solid 1px #202020;
  padding: 0px 0px 5px 0px;
}

.spoiler__list li span {
  font-weight: 300;
  color: #fff;
}

.spoiler__link {
  color: #fff;
}

.navbar {
  top: 0;
}

.contact {
  background-color: #222;
  padding: 0px 0px 85px 0px;
}

.contact__container {
  margin: 0 auto;
  max-width: 1156px;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__map {
  margin: 85px 0px 0px 0px;
}

.contact-form {
  margin: 47px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 390px 390px;
  grid-template-columns: 390px 390px;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 848px;
  -webkit-column-gap: 67px;
     -moz-column-gap: 67px;
          column-gap: 67px;
  row-gap: 31px;
}

.contact-form__location {
  border: solid 1px #131313;
  padding: 10px 20px;
  background-color: #131313;
  color: #fff;
}

.contact-form__location img {
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0px 22px 0px 0px;
}

.contact-form__call {
  padding: 10px 30px;
  border: solid 1px #131313;
  background-color: #131313;
  color: #fff;
}

.contact-form__call img {
  position: relative;
  top: 5px;
  margin: 0px 5px 0px 0px;
  left: -7px;
}

.contact-form__mail {
  padding: 10px 30px;
  border: solid 1px #131313;
  color: #fff;
  background-color: #131313;
}

.contact-form__mail img {
  position: relative;
  top: 5px;
  left: -10px;
}

.contact-form__submit {
  background: #55B055;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form__submit:hover,
.contact-form__submit:active,
.contact-form__submit:focus {
  background-color: #fff;
  color: black;
}

.contact-form input {
  padding: 10px 15px;
  outline: none;
  border: none;
}

.contact-form input:active,
.contact-form input:focus {
  outline: 1px solid #55B055;
}

.news {
  background-color: #222;
}

.news__container {
  max-width: 1156px;
  margin: 0 auto;
  padding: 0px 20px;
}

.slider {
  text-align: center;
  padding: 85px 0px;
}

.slider__img img {
  width: 100%;
}

.slider__title {
  margin: 41px 0px 0px 0px;
  color: #fff;
  font-weight: 700;
}

.slider__content {
  color: #fff;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-width: 348px;
  margin: 25px 0px 30px 0px;
}

.slider__btn {
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0px 10px;
  background-color: #131313;
}

.slider__btn:hover,
.slider__btn:active,
.slider__btn:focus {
  background-color: #fff;
  color: black;
}

.footer {
  background-color: #131313;
  padding: 0px 0px 60px 0px;
}

.footer__container {
  padding: 65px 20px;
  max-width: 1156px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__main {
  width: 100%;
}

.footer__copyright {
  max-width: 1156px;
  margin: 0 auto;
  color: #5E5E5E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-footer__list li {
  margin: 8px 0px;
}

.nav-footer__link {
  color: #B5B5B5;
  line-height: 23px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-footer__link:hover,
.nav-footer__link:active,
.nav-footer__link:focus {
  color: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

no-webp .news-page {
  background: url("../img/news/hero.png") no-repeat center; }

.news-page {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  background-color: #222;
}

.webp .main-page {
  background-size: cover;
}

.news-about {
  background-color: #222;
}

.news-about__container {
  max-width: 1159px;
  margin: 0 auto;
  padding: 146px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-about__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-about__content:first-child {
  margin: 0px 0px 100px 0px;
}

.news-about__content:first-child .news-about__img {
  margin: 0px 30px 0px 0px;
}

.news-about__img {
  max-width: 555px;
}

.news-about__text {
  color: #fff;
  line-height: 30px;
  max-width: 555px;
}

.news-about__slideimg {
  max-width: 1141px;
}

.news-about__slider--container {
  max-width: 1156px;
  margin: 0 auto;
  padding: 0px 20px 100px 20px;
}

.hideImg1 {
  display: none;
}

.news {
  background-color: #222;
}

.news__container {
  max-width: 1156px;
  margin: 0 auto;
  padding: 0px 20px;
}

.slider {
  text-align: center;
  padding: 85px 0px;
}

.slider__img img {
  width: 100%;
}

.slider__title {
  margin: 41px 0px 0px 0px;
  color: #fff;
  font-weight: 700;
}

.slider__content {
  color: #fff;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-width: 348px;
  margin: 25px 0px 30px 0px;
}

.slider__btn {
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0px 10px;
  background-color: #131313;
}

.slider__btn:hover,
.slider__btn:active,
.slider__btn:focus {
  background-color: #fff;
  color: black;
}

.main-portfolio {
  background-color: #222;
}

.portfolio-hero__container {
  padding: 267px 20px 119px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-hero__title {
  text-align: center;
  color: #fff;
}

@media (min-width: 767.98px) {
  .lang__ua {
    font-size: calc(19px + 5 * (100vw / 1156));
  }

  .lang__ru {
    font-size: calc(19px + 5 * (100vw / 1156));
  }

  .lang__en {
    font-size: calc(19px + 5 * (100vw / 1156));
  }

  .main-page__title {
    font-size: calc(28px + 20 * (100vw / 1156));
  }

  .main-page__title h1 {
    font-size: calc(28px + 20 * (100vw / 1156));
  }

  .main-page__title p {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .sect-title p {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .sect-title__title {
    font-size: calc(20px + 8 * (100vw / 1156));
  }

  .content-about__info {
    font-size: calc(16px + 8 * (100vw / 1156));
  }

  .navbar__link {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  ._active-link {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .btn__see {
    font-size: calc(20px + 4 * (100vw / 1156));
  }

  .spoiler__btn {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .spoiler__list li span {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .spoiler__link {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .contact-form__location {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .contact-form__call {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .contact-form__mail {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .contact-form__submit {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .contact-form input {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .slider__title {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .slider__content {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .slider__btn {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .footer__copyright {
    font-size: calc(14px + 4 * (100vw / 1156));
  }

  .nav-footer__link {
    font-size: calc(14px + 4 * (100vw / 1156));
  }

  .news-about__text {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .slider__title {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .slider__content {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .slider__btn {
    font-size: calc(18px + 6 * (100vw / 1156));
  }

  .portfolio-hero__title {
    font-size: calc(28px + 20 * (100vw / 1156));
  }
}

@media (min-width: 1920px) and (min-width: 767.98px) {
  .contact-form__location {
    font-size: calc(18px + 5 * (100vw / 1156));
  }

  .contact-form__call {
    font-size: calc(18px + 5 * (100vw / 1156));
  }

  .contact-form__mail {
    font-size: calc(18px + 5 * (100vw / 1156));
  }

  .contact-form__submit {
    font-size: calc(18px + 5 * (100vw / 1156));
  }

  .contact-form input {
    font-size: calc(18px + 5 * (100vw / 1156));
  }
}

@media (max-width: 1455px) {
  .hide {
    display: none;
  }
}

@media (max-width: 1156px) {
  .news-about__slider--container {
    width: 100%;
  }

  .news-about__slider--container .swiper-slide img {
    width: 100%;
  }
}

@media (max-width: 1040px) {
  .news-about__container {
    padding: 90px 20px;
  }

  .news-about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news-about__content:first-child .news-about__img {
    margin: 0px 0px 30px 0px;
  }

  .news-about__img {
    margin: 0px 0px 30px 0px;
  }

  .hideImg1 {
    display: block;
  }

  .hideImg2 {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .header__body {
    min-height: 100px;
  }

  .main-page {
    padding: 100px 10px 0px 10px;
  }

  .main-page__title {
    margin: 55px 0px 150px 0px;
  }

  .content-about__info {
    margin: 0px 0px 70px 0px;
  }

  .services__container {
    padding: 130px 20px 80px 20px;
  }

  .content-services__navbar {
    display: none;
  }

  .contact {
    padding: 0px 0px 65px 0px;
  }

  .contact__map {
    margin: 65px 0px 0px 0px;
  }

  .content-contact__navbar {
    display: none;
  }

  .slider {
    padding: 65px 0px;
  }

  .slider__title {
    margin: 25px 0px 0px 0px;
  }

  .slider__content {
    margin: 15px 0px 20px 0px;
  }

  .news-about__content:first-child {
    margin: 0px 0px 80px 0px;
  }

  .news-about__slider--container {
    padding: 0px 20px 50px 20px;
  }

  .slider {
    padding: 65px 0px;
  }

  .slider__title {
    margin: 25px 0px 0px 0px;
  }

  .slider__content {
    margin: 15px 0px 20px 0px;
  }
}

@media (max-width: 900px) {
  .contact__map img {
    width: 100%;
  }

  .contact-form {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .spoiler__btn {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header__body {
    min-height: 60px;
  }

  .lang__ua {
    font-size: calc(19px + 8.5 * ((100vw - 320px) / 1156));
  }

  .lang__ru {
    font-size: calc(19px + 8.5 * ((100vw - 320px) / 1156));
  }

  .lang__en {
    font-size: calc(19px + 8.5 * ((100vw - 320px) / 1156));
  }

  .main-page {
    padding: 60px 5px 0px 5px;
  }

  .main-page__title {
    font-size: calc(28px + 34 * ((100vw - 320px) / 1156));
  }

  .main-page__title {
    margin: 20px 0px 70px 0px;
  }

  .main-page__title h1 {
    font-size: calc(28px + 34 * ((100vw - 320px) / 1156));
  }

  .main-page__title p {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .sect-title__container {
    padding: 15px 20px;
  }

  .sect-title p {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .sect-title__title {
    font-size: calc(20px + 13.6 * ((100vw - 320px) / 1156));
  }

  .content-about {
    margin: 70px 0px 0px 0px;
  }

  .content-about {
    margin: 35px 0px 0px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-about__icon {
    margin: 0px 0px 15px 0px;
  }

  .content-about__info {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1156));
  }

  .content-about__info {
    margin: 0px 0px 35px 0px;
  }

  .navbar {
    display: none;
  }

  .navbar__link {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  ._active-link {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .btn__see {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1156));
  }

  .btn__see {
    margin: 35px 0px 25px 0px;
  }

  .services__container {
    padding: 95px 20px 45px 20px;
  }

  .spoiler__btn {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .spoiler__list li span {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .spoiler__link {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .contact {
    padding: 0px 0px 35px 0px;
  }

  .contact__map {
    margin: 35px 0px 0px 0px;
  }

  .contact-form {
    margin: 30px 0px 0px 0px;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    row-gap: 20px;
  }

  .contact-form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact-form__location {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .contact-form__call {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .contact-form__mail {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .contact-form__mail {
    -ms-grid-row-span: -1;
    grid-row-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }

  .contact-form__submit {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .contact-form__name {
    -ms-grid-row-span: -1;
    grid-row-end: 4;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }

  .contact-form input {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .slider {
    padding: 20px 0px;
  }

  .slider__title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .slider__content {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .slider__btn {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .footer {
    padding: 0px 0px 45px 0px;
  }

  .footer__container {
    padding: 45px 20px 45px 20px;
  }

  .footer__copyright {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1156));
  }

  .nav-footer__link {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1156));
  }

  .news-about__container {
    padding: 40px 20px;
  }

  .news-about__content:first-child {
    margin: 0px 0px 40px 0px;
  }

  .news-about__text {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .news-about__slider--container {
    padding: 0px 20px 20px 20px;
  }

  .slider {
    padding: 20px 0px;
  }

  .slider__title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .slider__content {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .slider__btn {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1156));
  }

  .portfolio-hero__container {
    padding: 200px 20px 80px 20px;
  }

  .portfolio-hero__title {
    font-size: calc(28px + 34 * ((100vw - 320px) / 1156));
  }
}

@media (max-width: 731px) {
  .images img {
    width: 100%;
  }
}

@media (max-width: 574.98px) {
  .content-about {
    margin: 10px 0px 0px 0px;
  }

  .content-about__icon {
    margin: 0px;
  }

  .content-about__info {
    margin: 0px 0px 10px 0px;
  }

  .services__container {
    padding: 60px 20px 10px 20px;
  }

  .spoiler__list {
    margin: 0;
    padding: 0px 35px 0px 35px;
  }

  .spoiler__btn {
    width: 92vw;
    padding: 10px 0px 10px 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .slider {
    text-align: start;
  }

  .slider__img img {
    min-width: 95px;
  }

  .slider__btn {
    margin: 0px;
  }

  .footer {
    padding: 0px 0px 25px 0px;
  }

  .footer__container {
    padding: 25px 20px 25px 20px;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .nav-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .social li {
    margin: 10px 0px 0px 0px;
  }

  .news-about__content:first-child {
    margin: 0px 0px 30px 0px;
  }

  .news-about__content:first-child .news-about__img {
    margin: 0;
  }

  .news-about__img {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .slider {
    text-align: start;
  }

  .slider__img img {
    min-width: 95px;
  }

  .slider__btn {
    margin: 0px;
  }

  .portfolio-hero__container {
    padding: 100px 20px 50px 20px;
  }
}

@media (max-width: 450px) {
  .slider {
    text-align: center;
  }

  .slider__title {
    margin: 10px 0px 10px 0px;
  }

  .slider__content {
    display: none;
  }

  .slider {
    text-align: center;
  }

  .slider__title {
    margin: 10px 0px 10px 0px;
  }

  .slider__content {
    display: none;
  }
}

@media (max-width: 420px) {
  .spoiler__btn {
    width: 90vw;
  }
}

@media (max-width: 380px) {
  .spoiler__btn {
    width: 89.2vw;
  }
}

@media (max-width: 340px) {
  .contact-form__location {
    padding: 10px 18px;
  }
}

@media (min-width: 1920px) and (max-width: 767.98px) {
  .contact-form__location {
    font-size: calc(18px + 8.5 * ((100vw - 320px) / 1156));
  }

  .contact-form__call {
    font-size: calc(18px + 8.5 * ((100vw - 320px) / 1156));
  }

  .contact-form__mail {
    font-size: calc(18px + 8.5 * ((100vw - 320px) / 1156));
  }

  .contact-form__submit {
    font-size: calc(18px + 8.5 * ((100vw - 320px) / 1156));
  }

  .contact-form input {
    font-size: calc(18px + 8.5 * ((100vw - 320px) / 1156));
  }
}

.webp .main-page { background: url(../img/hero-bg.webp) no-repeat center; }

.webp .news-page { background: url(../img/news/hero.webp) no-repeat center; }